<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center primary">Welcome to our weather app</h1>
      <nav class="text-center">
        <a routerLink="/home" routerLinkActive="active" class="btn btn-primary">Home</a>
        <a routerLink="/settings" class="btn btn-primary">Settings</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


